
<video autoplay loop playsinline id="dg_video-background">
    <source src="/static/videos/back.webm" type="video/webm">
    <source src="/static/videos/back.mp4" type="video/mp4">
    <source src="/static/videos/back.ogv" type="video/ogg;" codecs="theora, vorbis">
    Your browser does not support the video tag. I suggest you upgrade your browser.
</video>

<section class="dg_search">
    <input type="text" id="dg_searchBox" name="search-box" class="dg_search-box" autocomplete="off" placeholder="Introduce tu ciudad">
    <input type="button" id="dg_searchButton" name="search-button" class="btn btn-primary" value="Cercar">
</section>